<body>

<h3>Литвин Александр Викторович</h3>

<table align="left" >
<tr>
<td><%= image_tag("lytvyn.jpg", class: "my_image")%> </td>
<td><%= link_to 'Обо мне', "#" %>
<br/><%= link_to 'Мои работы', "#" %>
<br/><%= link_to 'Сделать заказ', "#" %>
<br/><%= link_to 'Контакты', "#" %>
</td>
</tr>
</table>
 
 </body>